* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Commissioner', sans-serif;
	height: 100%;
	width: 100%;
	background-color: rgb(238, 238, 238);
}
.continar {
	height: 100vh;
	width: 100vw;
	position: relative;
}
.continar .img {
	display: flex;
	height: 40%;
	width: 100%;
}
.continar .img img {
	height: 100%;
	width: 100%;
}
.hedar {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: space-around;
	height: 60%;
	width: 100%;
	color: rgb(240, 240, 240);
}

.logo {
	position: relative;
	width: auto;
	height: 5vh;
	top: 5vh;
}
.nav {
	position: relative;
	width: 40vw;
	height: 10vh;
	padding-top: 5vh;
}
.nav ul {
	display: flex;
	justify-content: space-around;
}
.nav ul li {
	list-style: none;
	cursor: pointer;
}
.nav ul li:hover {
	color: hsl(176, 72%, 28%);
}
.burg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 2vw;
	height: 7vh;
	padding-top: 4vh;
	display: none;
}
.burger {
	display: flex;
	flex-direction: column;
	width: 20px;
	height: 2.5px;
	margin-bottom: 2px;
	background-color: hsl(0, 3%, 94%);
	cursor: pointer;
}
.contant {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	height: 100%;
	position: absolute;
	left: 25%;
	top: 30%;
}
.contant img {
	margin-top: -50px;
}
.hed {
	background-color: rgb(255, 255, 255);
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-radius: 5px;
}
.hed p {
	margin-top: -3%;
}
.btn-cont {
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.btn {
	margin-left: -15%;
	width: 25%;
	height: 100%;
	border-radius: 50px;
	border: none;
	color: white;
	background-color: hsl(176, 50%, 47%);
	cursor: pointer;
}
.btn-par {
	display: flex;
	margin-right: -15%;
	align-items: center;
	justify-content: space-between;
	width: 25%;
	height: 100%;
	border-radius: 50px;
	background-color: hsl(0, 3%, 94%);
	position: relative;
	padding-left: 20px;
	font-weight: 400;
}
.btn-btn {
	position: absolute;
	display: flex;
	right: 5%;
	top: 27.5%;
	cursor: pointer;
	width: 45px;
}
@media (max-width: 600px) {
	.continar {
		height: 100vh;
		width: 100vw;
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.continar .img {
		height: 30%;
		width: 100%;
	}
	.hedar {
		display: flex;
		justify-content: space-around;
		height: 60vh;
		width: 100vw;
		color: white;
		background-size: cover;
	}
	.logo IMG {
		height: 50%;
		width: 60%;
	}
	.nav {
		position: absolute;
		top: 15vh;
		width: 50vw;
		height: 40vh;
		background-color: rgb(255, 255, 255);
		border-radius: 10px;
		color: black;
		margin-left: 60px;
		display: none;
	}
	.nav ul {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 50vw;
		height: 30vh;
		padding-left: 20px;
		font-weight: 700;
	}
	.nav ul li {
		padding-bottom: 20px;
		border-bottom: 1px solid hsl(0, 0%, 48%);
	}
	.burg {
		display: inline-flex;
	}
	.sowNav {
		display: inline-flex;
	}
	.contant {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 90%;
		height: 100%;
		position: absolute;
		left: 5%;
		top: 25%;
	}
	.hed {
		width: 80%;
	}
	.contant img {
		margin-top: -35px;
	}
	.hed h2 {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 20px;
		width: 70%;
	}
	.hed p {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 13px;
		padding: 0 10px;
	}
	.btn-cont {
		height: 50px;
	}
	.btn-cont .btn {
		background-color: hsl(176, 50%, 47%);
		width: 60%;
	}
	.btn-cont .btn-par {
		width: 10%;
		top: 5px;
		color: white;
		display: none;
	}
	.btn-cont img {
		position: absolute;
		top: 28%;
		width: 50px;
		right: 18%;
	}
}
